@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 600px;
    text-align: center;
    overflow: hidden;
}

.text {
    position: absolute;
    height: 100px;
    width:  500px;
    top:  100%;
    background: inherit;
    transform: translateY(-100px) translateZ(5px) translateX(100px);
    z-index: 4;
}
.text:before {
    position: absolute;
    width:  100%;
    height: 100%;
    top:  5%;
    left: 80%;
    background: transparent;
    content: "Feliz día, guapo <3";
    color: hsla(0, 0%, 100%, 0.34);;
    font-size: 3.5rem;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    z-index: 4;
}

.tHold {
    perspective: 300px;
    transform-style: preserve-3d;
    margin-top: 240px;
    position: relative;
    z-index: 4;
    animation: tMove 35s linear infinite;
}
.tPos {
    display: inline-block;
    position: relative;
    width: 0;
    height: 0;
    transform-style: preserve-3d;
    transform: translateY(150px);
    z-index: 4;
}
.tRot {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    transform: rotateY(135deg);
    transform-style: preserve-3d;
    z-index: 4;
}

.tRot div, .tRot div:after, .tRot div::before {
    box-shadow: 0 0 20px rgba(0,0,0,.5) inset;    
    transform-style: preserve-3d;
    z-index: 4;
}
.tSide {
    position: absolute;
    height: 80px;
    width: 50px;
    background: #24a;
    z-index: 4;
}
.tSideF {
    transform: translateY(-80px) translateX(-25px) translateZ(25px);
}
.tSideL {
    transform: translateY(-80px) translateX(-25px) rotateY(90deg) translateZ(25px);
}
.tSideR {
    transform: translateY(-80px) translateX(-25px) rotateY(-90deg) translateZ(25px);
}
.tSideB {
    transform: translateY(-80px) translateX(-25px) rotateY(180deg) translateZ(25px);
}
.tTop {
    position: absolute;
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    border: 1px solid #24a;
    border-width: 0 25px 30px 25px;
    border-color: transparent transparent #24a;
    transform: translateY(-34px) translateZ(-13px) rotateX(55deg);
    z-index: 4;
}
.tSign {
    position: absolute;
    height: 10px;
    width:  60px;
    top:  0;
    left: 0;
    background: inherit;
    transform: translateY(-10px) translateZ(5px) translateX(-5px);
}
.tSign:before {
    position: absolute;
    width:  90%;
    height: 90%;
    top:  5%;
    left: 5%;
    background: #000;
    content: "POLICE\a0\a0=\a0\a0\a0BOX";
    color: #fff;
    font-size: 0.4em;
    line-height: 8px;
}
.tSignTop {
    width: 60px;
    height: 60px;
    background: #24a;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-120px) translateX(-30px) rotateX(90deg);
}
.tSignTop:before {
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateZ(-10px) rotateY(180deg);
}
.tBase {
    transform: translateY(-30px) translateX(-30px) rotateX(90deg);
}
.tBase:before {
    transform: translateZ(-3px) rotateY(180deg);
}
.tBaseSide {
    position: absolute;
    height: 3px;
    width:  60px;
    top:  0;
    left: 0;
    background: inherit;
    transform: translateY(80px) translateZ(5px) translateX(-5px);
}
.tRot .tPanel {
    position: absolute;
    top:  2px;
    left: 2px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset, 0 0 10px rgba(0,0,0,.1) inset;
    width:  23px;
    height: 76px;
}
.tRot .tPanelL {
    left:  auto;
    right: 2px;
}
.tPanel:before, .tPanel:after {
    position: absolute;
    content: "";
    bottom: 2px;
    left:   2px;
    width: 19px;
    height: 23px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset, 0 0 10px rgba(0,0,0,.1) inset;
    transform: translateZ(0.2px);
}
.tPanel:after {
    bottom: 27px;
}
.tRot .tWindowT,
.tRot .tWindowT:before,
.tRot .tWindowT:after,
.tRot .tWindowB,
.tRot .tWindowB:after,
.tRot .tWindowB:before {
    width:  4px;
    height: 8px;
    background: #fff;
    position: absolute;
    left: 4px;
    top:  4px;
    box-shadow: 0 0 3px rgba(0,0,0,.5) inset;
    transform: translateZ(0.2px);
}
.tRot .tWindowB:after,
.tRot .tWindowB:before,
.tRot .tWindowT:before,
.tRot .tWindowT:after {
    top: 0;
    left: 6px;
    content: "";
}
.tRot .tWindowT:after,
.tRot .tWindowB:after {
    left: 12px;
}
.tRot .tWindowB {
    top: 14px;
}
.tNotice {
    position: absolute;
    left: 5px;
    top:  30px;
    background: #ddb;
    width:  13px;
    height: 16px;
    transform: translateZ(0.2px);
}
.tRot .tNotice:before {
    content: "Police Telephone Free for use of Public";
    box-shadow: none;
    text-align: center;
    width: 70px;
    position: absolute;
    transform: scale(0.12);
    transform-origin: top left;
    left: 2px;
    top:  2px;
}
.tRot .tNotice:after {
    content: "";
    position: absolute;
    left: 28px;
    top:  5px;
    width:  3px;
    height: 3px;
    background: #24a;
    box-shadow: 0 0 0 2px #f5f5f5;
    border-radius: 99px;
    transform: translateZ(0.2px);
}
.tLight {
    position: absolute;
    top:  0;
    left: 0;
    width:  0;
    height: 0;
    transform: translateY(-115px) translateX(-4px);
}
.tRot .tLightSide {
    position: absolute;
    top:  0;
    left: 0;
    width:  6px;
    height: 11px;
    background: #fff;
    transform: translateZ(6px);
    box-shadow: 0 0 0 1px rgba(0,0,0,.5) inset;
    animation: tLight 2s linear infinite;
}
.tRot .tLightSide:before {
    content: "";
    position: absolute;
    top:  0;
    left: 0;
    width:  6px;
    height: 11px;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,.5) inset;
    transform: translateZ(-12px) rotateY(180deg);
    animation: tLight 2s linear infinite;
}
.tRot .tLightSide1 {
    transform: rotateY(45deg) translateZ(6px);
}
.tRot .tLightSide2 {
    transform: rotateY(90deg) translateZ(6px);
}
.tRot .tLightSide3 {
    transform: rotateY(135deg) translateZ(6px);
}
.tLight:before {
    position: absolute;
    content: "";
    width:  14px;
    height: 14px;
    top:  0;
    left: 0;
    background: #24a;
    border-radius: 99px;
    transform: translateY(-7px) translateX(-4px) rotateX(-90deg);
}
.vortex {
    padding: 200px;
    display: inline-block;
    border-radius: 999px;
    background: hsl(210,25%,24%);
    margin-top: -110px;
    margin-left: -50px;
    overflow: hidden;
    position: relative;
    z-index: -1;
}
.vSpark {
    z-index: 2;
    position: absolute;
    width:  100%;
    height: 100%;
    top:  0;
    left: 0;
}
.vSpark:after,
.vSpark:before {
    content: "\f3c";
    font-size: 3em;
    position: absolute;
    top:  30%;
    left: 30%;
    width:  0;
    height: 0;
    text-shadow: 0 0 2px rgba(209,250,255,1);
    box-shadow: 12px 35px 40px 20px rgba(209,250,255,.8);
    color: transparent;
    animation: vSpark 5s linear infinite;
}
.vSpark:after {
    animation-delay: -1.5s;
}

@keyframes tLight {
      0%{ background: #fff; box-shadow: 0 0 0 1px rgba(0,0,0,.5) inset, 0 0 10px 0 rgba(255,255,255,1); }
     40%{ background: #777; box-shadow: 0 0 0 1px rgba(0,0,0,.5) inset, 0 0 0 0 rgba(255,255,255,.3); }
     60%{ background: #777; box-shadow: 0 0 0 1px rgba(0,0,0,.5) inset, 0 0 0 0 rgba(255,255,255,.3); }
    100%{ background: #fff; box-shadow: 0 0 0 1px rgba(0,0,0,.5) inset, 0 0 10px 0 rgba(255,255,255,1); }
}
@keyframes tSpin {
    from{  transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg); }
    to{  transform: rotateX(360deg) rotateZ(360deg) rotateY(-1440deg); }
}

@keyframes tPos {
    0%{  transform: translateY(150px) translateX(0px)   translateZ(0px);    }
   10%{  transform: translateY(180px) translateX(30px)  translateZ(-60px);  }
   20%{  transform: translateY(140px) translateX(-10px) translateZ(-180px); }
   40%{  transform: translateY(190px) translateX(-30px) translateZ(-280px); }
   70%{  transform: translateY(160px) translateX(10px)  translateZ(-100px); }
   80%{  transform: translateY(140px) translateX(30px)  translateZ(-40px);  }
   100%{ transform: translateY(150px) translateX(0px)   translateZ(0px);    }
}
@keyframes vSpark {
   0%{ opacity: 0; top: 40%; left: 30%; transform: rotate(90deg)   scale(1);   }
  10%{ opacity: 0; top: 40%; left: 30%; transform: rotate(90deg)   scale(1);   }
  11%{ opacity: 1; top: 40%; left: 30%; transform: rotate(90deg)   scale(1);   }
  12%{ opacity: 0; top: 40%; left: 30%; transform: rotate(90deg)   scale(1);   }
  35%{ opacity: 0; top: 20%; left: 70%; transform: rotate(-10deg)  scale(1);   }
  36%{ opacity: 1; top: 20%; left: 70%; transform: rotate(-10deg)  scale(1);   }
  37%{ opacity: 0; top: 20%; left: 70%; transform: rotate(-10deg)  scale(1);   }
  55%{ opacity: 0; top: 10%; left: 50%; transform: rotate(10deg)   scale(0.8); }
  56%{ opacity: 1; top: 10%; left: 50%; transform: rotate(10deg)   scale(0.8); }
  57%{ opacity: 0; top: 10%; left: 50%; transform: rotate(10deg)   scale(0.8); }
  58%{ opacity: 0; top: 10%; left: 48%; transform: rotate(20deg)   scale(0.7); }
  59%{ opacity: 1; top: 10%; left: 48%; transform: rotate(20deg)   scale(0.7); }
  60%{ opacity: 0; top: 10%; left: 48%; transform: rotate(20deg)   scale(0.7); }
  82%{ opacity: 0; top: 80%; left: 60%; transform: rotate(-120deg) scale(1.2); }
  83%{ opacity: 1; top: 80%; left: 60%; transform: rotate(-120deg) scale(1.2); }
  84%{ opacity: 0; top: 80%; left: 60%; transform: rotate(-120deg) scale(1.2); }
 100%{ opacity: 0; top: 80%; left: 60%; transform: rotate(-120deg) scale(1);   }
}
@keyframes tMove {
    from {
        transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg) translateY(100px) translateX(0px) translateZ(0px);
    }
    to {
        transform: rotateX(290deg) rotateZ(360deg) rotateY(-1440deg) translateY(150px) translateX(100%) translateZ(20px);
    }
}

.nightSky {
    width: 100%;
    height: 100%;
    background-color: #111F21;
    position: absolute;
    top: 0;
    left: 0;
}
.stars, .twinkling, .clouds {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
    z-index: 0;
  }

.stars {
    background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
}

.twinkling {
    background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    z-index: 1;

    -moz-animation: move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite;
}

.clouds {
    background: transparent url(http://www.script-tutorials.com/demos/360/images/clouds.png) repeat top center;
    z-index: 3;

    -moz-animation:move-clouds-back 200s linear infinite;
    -ms-animation:move-clouds-back 200s linear infinite;
    -o-animation:move-clouds-back 200s linear infinite;
    -webkit-animation:move-clouds-back 200s linear infinite;
    animation:move-clouds-back 200s linear infinite;
}

@keyframes starsAnimation {
    from {
        background-position: 0 0;
    } to {
        background-position: 1000px 0;
    }
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

@keyframes text {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
  }